{% if customer %}
   <div></div>
{% endif %}

{%- schema -%}
    {
        "name": "Announcement Bar",
        "tag": "section",
        "class": "e-announcement-bar-section",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_announcement_bar",
                "label": "Ativar Announcement Bar"
            },
            {
                "type": "checkbox",
                "id": "show_announcement_bar_only_homepage",
                "label": "Mostrar Somente na Homepage"
            }
        ],
        "blocks": [
            {
                "name": "Texto Copiável",
                "type": "announcement_copy_text",
                "settings": [
                    {
                        "type": "text",
                        "id": "announcement_bar-text",
                        "label": "Texto principal do announcement bar"
                    },
                    {
                        "type": "text",
                        "id": "announcement_bar-copy_text",
                        "label": "Texto a ser copiado"
                    }
                ]
            },
            {
                "name": "Link de Redirecionamento",
                "type": "announcement_link",
                "settings": [
                    {
                        "type": "text",
                        "id": "announcement_bar-text",
                        "label": "Texto principal do announcement bar"
                    },
                    {
                        "type": "url",
                        "id": "announcement_bar-link",
                        "label": "Link de Redirecionamento"
                    },
                    {
                        "type": "text",
                        "id": "announcement_bar-attribute",
                        "label": "Atributo do Link"
                    }
                ]
            }
        ]
    }
{%- endschema -%}
